<html>

    <head>
        <title>Task Report by User</title>
    </head>

    <body>
        {{#each User}}
        <h1>Task report</h1>
        <p>User: {{username}}</p>
        <p>Counter: {{counter}}</p>
        {{/each}}
    </body>

</html>