<ng-container>
  <div class="container mt-5">
    <p>Hallo, Welt</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi
      perspiciatis laborum neque ad, laboriosam repellendus dolores cupiditate
      ex veritatis adipisci ipsum corporis facere asperiores eligendi saepe
      eveniet sit maxime ratione animi modi aperiam ipsam ea. Vel eum
      voluptatum, quos neque provident quisquam, odio incidunt obcaecati debitis
      quasi, deserunt numquam nesciunt quae! Delectus non corrupti ad tempora
      ducimus culpa iure velit eos, neque mollitia consequuntur obcaecati
      consectetur, est ipsum voluptate iste a quia laboriosam. Veritatis
      laudantium omnis facilis. Praesentium hic nemo alias quod ducimus odit
      deserunt fugit nisi blanditiis consequatur, dolor, magnam consectetur
      ratione pariatur earum! Quasi dolores cum quod unde.
    </p>
  </div>
</ng-container>
