<ng-container>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <mat-card class="mt-4">
          <mat-card-header>
            <mat-card-title>
              <h1>Add task</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="container">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>Title:</mat-label>
                    <input matInput formControlName="title" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-checkbox id="done-checkbox" formControlName="done">Done?</mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Description:</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <button
                type="submit"
                mat-raised-button
                color="primary"
                id="confirm-button"
                class="mt-4"
              >
                <mat-icon>check</mat-icon> Confirm
              </button>

              <button (click)="onCancel()"
                mat-raised-button
                color="primary"
                id="cancel-button"
                class="mt-4"
              >
                <mat-icon>cancel</mat-icon> Cancel
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-card class="mt-4">
          <mat-card-header>
            <mat-card-title>
              <h1>Details</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="container">
            <p>Username: {{currentUser.username}}</p>
            <p>Date: {{currentDate | date:'yyyy-MM-dd'}}</p>
            <p *ngIf="addForm.value.done; else undone">Status: done</p>
            <ng-template #undone>
              <p>Status: undone</p>
            </ng-template>
            <p>Title: {{ addForm.value.title }}</p>
            <p>Description: {{ addForm.value.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
